.nav {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  height: 60px;
  padding: 4px 24px;
}
